<!-- {{posts | json}} -->

<button type="button" (click)="showForm(true)" class="btn btn-secondary btn-sm m-3">Add Product</button>

<table *ngIf="!showAddPost" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Decription</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <th scope="row">{{item.idPost}}</th>
        <td>{{item.descriptionPost}}</td>
        <td>
          <button type="button" (click)="modifyPost(item.idPost,item.descriptionPost)" class="btn btn-success btn-sm">Update</button> 
          <button type="submit" (click)="removePost(item.idPost)" class="btn btn-danger btn-sm">Delete</button>
        </td>

      </tr>
     
    </tbody>
  </table>

  <form *ngIf="showAddPost">
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Description</label>
        <input value="{{posts.descriptionPost}}" type="text" class="form-control" #txtDescription>
      </div>
    </div>

    <button type="button" (click)="savePost(txtDescription.value)" class="btn btn-primary">Save</button>
    <button type="button" (click)="showForm(false)" class="btn btn-danger">Cancel</button>
  </form>